

@media (max-width: 800px){

  #nav-container h2{
    font-size: 18px;
  }

  #nav-container ul .nav-ul{
    display: none;
  }

  #nav-container ul i{
    display: inline;
  }

  #hero-section{
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: 40px;
  }

 .resume-contact-buttons button{
  font-size: 12px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

 }

  #left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    text-wrap: wrap;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  #left h1{
    font-size: 8vw;
    margin-top: 10px;
  }

  #left h2{
    font-size: 5vw;
    margin-bottom: 16px;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #left h2 span{
    font-size: 5vw;
  }

  #left h3{
    width: 85vw;
    font-size: 4vw;
    margin: 0;
    padding: 0;
  }



  #right{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  #right img{
    margin-top: 20px;
    width: 100%;
    height: 70%;
  }

  .profile-icon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }

  #right i{
    font-size: 4vw;
  }

/* ----------------------------------------project-section------------------------- */

  .Projects-title h1{
    font-size: 5vw;
    margin-top: 140px;
  }

  #projects-card-main{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

  #projects-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0;
  }

  #projects-card-top{
      display: flex;
      flex-wrap: wrap;
  }

  #projects-card-top h3{
    font-size: 20px;
  }

  #projects-card-top i{
    font-size: 20px;
  }

  /* ------------------------------------------------skills------------------ */

  .skills-title h1{
    font-size: 5vw;
  }


  .image-container{
    margin: 0 2vw;
    width: 100vw;
    height: 30vh;
  }
  
  .image-container img{
    width: 30px;
  }

  /* -------------------------------------------contact---------------------------- */

  #contact-title{
    font-size: 5vw;
  }

  .main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 3vw;
  }

  .contact-elements h2{
    font-size: 3vw;
  }

  .contact-elements i{
    font-size: 3vw;
  }

  .contact-elements input{
    width: 70vw;
    font-size: 3vw;
  }

  .contact-elements textarea{
    width: 70vw;
  }

  .submit-button{
   font-size: 12px;
   width: 20vw;
   padding: 8px 12px;
   margin-top: 20px;
  }

  /* ------------------------------------------------footer------------------------------ */

  footer{
    height: 50px;
  }

  footer p{
    font-size: 2.6vw;
  }

  footer i{
    font-size: 2.4vh;
  }

}

@media (min-width: 800px) {
  #sidebar{
    width: 0px;
    height: 0px;
  }
}